<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Information</title>
</head>
<style>
    .container .schoolInformation {
        font-size: 14px;
        position: relative;
        top: 90px;
        left: 220px;
        float: left;
    }
</style>
<body>
<div class="sideBarImport" th:replace="fragments/synergySideBar"></div>

<div class="container">
    <div class="schoolInformation">
        <h1>School Information</h1>
    </div>
</div>
</body>
</html>