<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Calendar</title>
    <link rel="stylesheet" href="/css/student-calendar.css">
</head>
<style>
    .container .studentCalendar {
        font-size: 14px;
        position: relative;
        top: 90px;
        left: 220px;
        float: left;
    }

    a.link {
        position: relative;
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        left: 900px;
        top: 25px;
    }

    a.link:hover {
        background-color: #45a049;
    }
</style>
<body>
<div class="sideBarImport" th:replace="fragments/synergySideBar"></div>

<div class="container">

    <div class="studentCalendar">
        <h2>Student Calendar</h2>
        <div class="tableRowMonth">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h1>March 2021</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="tableRow1">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Mon</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Tue</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Wed</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Thu</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Fri</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Sat</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Sun</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="tableRow2">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>1</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>2</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>3</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>4</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>5</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>6</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>7</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="tableRow3">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>8</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>9</h3>
                        <p>DN's Tri 2 N@TM!</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>10</h3>
                        <p>Tri 2 Finals: Per. 5</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>11</h3>
                        <p>Tri 2 Finals: Per. 1/2</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>12</h3>
                        <p>Tri 2 Finals: Per. 3/4</p>
                        <p>Last Day of Tri 2</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>13</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>14</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="tableRow4">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>15</h3>
                        <p>Tri 3 Begins</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>16</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>17</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>18</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>19</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>20</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>21</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="tableRow5">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>22</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>23</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>24</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>26</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>27</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>28</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="tableRow6">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>29</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>30</h3>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>31</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<a class="link" href="/logout">LOGOUT</a>

</body>
</html>