<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>
    <link rel="stylesheet" href="/css/student-info.css">
</head>
<style>
    a.link {
        position: relative;
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        left: 10%;
        top: 25px;
    }

    a.link:hover {
        background-color: #45a049;
    }
</style>
<body>

<div class="sideBarImport" th:replace="fragments/synergySideBar"></div>

<div class="container">

    <div class="studentInfo">
        <h2>Student Info</h2>
        <div class="tableRow1">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Student Name</h3>
                        <p th:text="${name}"></p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Perm ID</h3>
                        <p th:text="${ID}"></p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Grade</h3>
                        <p th:text="${year}"></p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Age</h3>
                        <p th:text="${age}"></p>
                    </div>
                </div>
            </div>



        </div>

        <div class="tableRow2">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>School Name</h3>
                        <p>Del Norte</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<a class="link" href="/logout">LOGOUT</a>

</body>
</html>