<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/headfile.html :: head">-->
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>
    <link rel="stylesheet" href="/css/student-info.css">
</head>
<style>

</style>
<body>
<div class="container">

    <div class="studentInfo">
        <h2>Student Info</h2>
        <div class="table">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Student Name</h3>
                        <p>John Doe</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Perm ID</h3>
                        <p>12345678</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Gender</h3>
                        <p>Male</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Grade</h3>
                        <p>11</p>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Email Address</h3>
                        <p>johndoe@gmail.com</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>