<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Gradebook</title>
    <link rel="stylesheet" href="/css/student-grades-home.css">
</head>
<body>
<div class="sideBarImport" th:replace="fragments/synergySideBar"></div>

<div class="container">
    <div class="studentGradeBook">
        <h1>Student Grade Book</h1>
        <div class="contentView">
            <div class="classScheduleTiles">
                <div class="wrapper" id="period1">
                    <div class="box">
                        <div class="contentPeriod">
                            <h2>1</h2>
                        </div>
                        <div class="contentClassTitle">
                            <p th:text="${period1.name}"></p>
                            <h5 th:text="${period1.teacher}"></h5>
                        </div>
                        <div class="contentGrade">
                            <h4 th:text="${period1.grade}"></h4>
                        </div>
                    </div>
                </div>

                <div class="wrapper" id="period2">
                    <div class="box">
                        <div class="contentPeriod">
                            <h2>2</h2>
                        </div>
                        <div class="contentClassTitle">
                            <p th:text="${period2.name}"></p>
                            <h5 th:text="${period2.teacher}"></h5>
                        </div>
                        <div class="contentGrade">
                            <h4 th:text="${period2.grade}"></h4>
                        </div>
                    </div>
                </div>

                <div class="wrapper" id="period3">
                    <div class="box">
                        <div class="contentPeriod">
                            <h2>3</h2>
                        </div>
                        <div class="contentClassTitle">
                            <p th:text="${period3.name}"></p>
                            <h5 th:text="${period3.teacher}"></h5>
                        </div>
                        <div class="contentGrade">
                            <h4 th:text="${period3.grade}"></h4>
                        </div>
                    </div>
                </div>

                <div class="wrapper" id="period4">
                    <div class="box">
                        <div class="contentPeriod">
                            <h2>4</h2>
                        </div>
                        <div class="contentClassTitle">
                            <p th:text="${period4.name}"></p>
                            <h5 th:text="${period4.teacher}"></h5>
                        </div>
                        <div class="contentGrade">
                            <h4 th:text="${period4.grade}"></h4>
                        </div>
                    </div>
                </div>

                <div class="wrapper" id="period5">
                    <div class="box">
                        <div class="contentPeriod">
                            <h2>5</h2>
                        </div>
                        <div class="contentClassTitle">
                            <p th:text="${period5.name}"></p>
                            <h5 th:text="${period5.teacher}"></h5>
                        </div>
                        <div class="contentGrade">
                            <h4 th:text="${period5.grade}"></h4>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
</body>
</html>