<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a.link {
            position: relative;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            left: 1150px;
            top: 25px;
        }

        a.link:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<a class="link" href="/login">RETURN TO LOGIN PAGE</a>
    <p>
        Created User Successfully. <br>
        Make sure you remember your password and username.
    </p>
</body>
</html>