<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headfile.html :: head">
    <meta charset="UTF-8">
    <title>Teacher View</title>
</head>
<body>
<form action="#" th:action="@{/family}" th:object="${family}" method="post">
    <table>
        <tr>
            <td colspan="2" class="divider"><hr /><h2>Applicant</h2></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{person.name}" /></td>
            <td th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{person.age}" /></td>
            <td th:if="${#fields.hasErrors('person.age')}" th:errors="*{person.age}">Age Error</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td><input type="text" th:field="*{person.dob}" placeholder="MM/dd/yyyy" /></td>
            <td th:if="${#fields.hasErrors('person.dob')}" th:errors="*{person.dob}">Date Error</td>
        </tr>
        <tr>
            <td colspan="2" class="divider"><hr /><h2>Spouse</h2></td>
        </tr>
        <tr>
            <td>Spouse:</td>
            <td><input type="text" th:field="*{spouse.name}" /></td>
            <td th:if="${#fields.hasErrors('spouse.name')}" th:errors="*{spouse.name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{spouse.age}" /></td>
            <td th:if="${#fields.hasErrors('spouse.age')}" th:errors="*{spouse.age}">Age Error</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td><input type="text" th:field="*{spouse.dob}" placeholder="MM/dd/yyyy" /></td>
            <td th:if="${#fields.hasErrors('spouse.dob')}" th:errors="*{spouse.dob}">Date Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>